@import "tailwindcss";
@plugin "@anuragroy/tailwindcss-animate";

@import "@luminescent/ui/css";
@plugin "@luminescent/ui";

@config "../tailwind.config.js";

@theme {
  --font-display: "Satoshi", "sans-serif";
}

@layer utilities {
  .animation-delay-2000 { animation-delay: -5s; }
  .animation-delay-4000 { animation-delay: -10s; }
}

html {
  overflow: overlay;
  background: radial-gradient(
    var(--color-gray-900) 0%,
    var(--color-gray-950) 100%
  );
  background-color: var(--color-gray-950);
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000022;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}