/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import 'tailwindcss';
@plugin "@anuragroy/tailwindcss-animate";

@import '@luminescent/ui';

@theme {
  --font-display: 'Satoshi', 'sans-serif';
}

@config "../tailwind.config.js";

html {
  overflow: overlay;
  background: radial-gradient(
    var(--color-gray-900) 0%,
    var(--color-gray-950) 100%
  );
  @apply text-gray-200 bg-gray-950;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000022;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
