@theme {
  --color-luminescent-50: oklch(97.1% 0.014 379.198);
  --color-luminescent-100: oklch(94.8% 0.028 306.258);
  --color-luminescent-200: oklch(89.9% 0.061 307.231);
  --color-luminescent-300: oklch(82.3% 0.12 310.018);
  --color-luminescent-400: oklch(71.8% 0.202 313.761);
  --color-luminescent-500: oklch(0.66 0.241 318.308);
  --color-luminescent-600: oklch(59.2% 0.249 324.584);
  --color-luminescent-700: oklch(52.5% 0.223 327.958);
  --color-luminescent-800: oklch(45.9% 0.187 327.815);
  --color-luminescent-900: oklch(40.8% 0.153 326.432);
  --color-luminescent-950: oklch(28.4% 0.109 327.907);
}

@utility lum-btn-p-* {
  padding: calc(var(--spacing) * --value(integer))
    calc(var(--spacing) * --value(integer) * 2)
    calc(var(--spacing) * --value(integer))
    calc(var(--spacing) * --value(integer) * 2);
}

@utility lum-input {
  @apply flex motion-safe:transition duration-300 hover:duration-75 ease-out disabled:opacity-50 hover:drop-shadow-lg whitespace-nowrap touch-manipulation select-none p-2 lum-bg-gray-800 hover:lum-bg-gray-700 rounded-md;
}

@utility lum-btn {
  @apply flex items-center gap-3 motion-safe:transition duration-300 hover:duration-75 ease-out disabled:opacity-50 hover:drop-shadow-lg motion-safe:active:scale-95 whitespace-nowrap touch-manipulation select-none text-center lum-btn-p-2 text-base lum-bg-gray-800 hover:lum-bg-gray-700 rounded-md;
}

@utility lum-card {
  @apply flex flex-col gap-3 whitespace-pre-wrap lum-bg-gray-900 p-7 rounded-lg;
}

@utility lum-loading {
  @apply animate-spin rounded-full border-transparent border-l-current border-t-current border-2;
}