body {
  overflow: overlay;
  background: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div {
  background-color: #00000088;
  padding: 20px;
  border-radius: 1rem;
  border: #ffffff20 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000022;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
